.profile {
    
    width: 30vw;
    /* background-image: linear-gradient(red,black); */
    background-color: black;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    
    box-shadow: 0px 0px 10px white;
}
a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
a:hover {
    color: rgb(228, 57, 65);
}
.mail:hover {
    color: rgb(238, 32, 32);
}
@media only screen and (max-width:850px){
    .profile {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .developer {
        height: 30px ;
    }
} 
.Left_box {
    display: flex;
    margin-right: 10px;
    height: 100%;
    
}
.profile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.profile h3 {
    margin-top: 10px;
    font-family: cursive;
    font-weight: 800;
    color: white;
    font-size: 2rem;
}
.profile .download {
    text-decoration: none;
    color: white;
    font-weight: 880;
    font-size: 1.4rem;
    width: 75%;
    background-color: orange;
    margin-top: 20px;
    padding: 8px;
    border-radius: 17px;
    text-align: center;
    font-family: sans-serif;
    transition: width .5s;
}
.download:hover {
    width: 80%;
}
.profile_image {
    height: 40%;
    object-fit: contain;
    border-radius: 40%;
    box-shadow: 0px 0px 10px white;
    margin-top: 20px;
    
    
}
.devloper {
    color: white;
    width: 75%;
    padding: 8px;
    background-color: red;
    font-family: cursive;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 18px;
    margin-top: 20px;
    transition: width .5s;
    cursor: pointer;
}
.devloper:hover {
    width: 80%;
    
}
.icons{
    width: 75%;
    margin-top: 20px;
    text-align: center;

}
.contacts {
    color: white;
    margin-top: 20px;
   
}
.contacts p {
    margin-bottom: 10px;
    font-size: 1rem;
}
.mail {
    font-weight: 880;
    font-size: 1.2rem;
    width: 75%;
    background-color: white;
    margin-top: 20px;
  
    border-radius: 17px;
    padding: 8px;
    text-align: center;
    font-family: sans-serif;
    transition: width .5s;
}
.mail a {
    text-decoration: none;
}
.mail:hover {
    width: 80%;
}
